<ion-view class="module-catalogpro catalogpro catalogpro-rating catalogpro-home-l1"
          sb-page-background>
    <ion-nav-title>{{ ::"Rating & Reviews" | translate:"catalogpro" }}</ion-nav-title>
    <ion-nav-buttons side="secondary">
        <!-- <button class="button button-clear">
            <i class="icon ion-refresh"></i>
        </button> -->
    </ion-nav-buttons>
    <ion-content>
        <div class="loader" ng-show="is_loading">
         <ion-spinner class="spinner-custom"></ion-spinner>
        </div> 
        <div class="list" ng-if="!is_loading">
           <div class="item item-body item-custom text-center ion-star-item feedback-star-box remove-border">
                <div class="row ion-star-row">                
                <div class="col ion-star-col" ng-repeat="value in starArray"
                 ng-click="starSelected(value)">
                    <i class="icon icon-active-custom ion-ios-star{{value <= starSelectedValues?'':'-outline'}}"></i>
                </div>                   
               </div>
             </div>
 
            <label class="item item-input item-custom item-stacked-label padding message-input-box remove-border">
                <span class="input-label">{{ ::"Leave a comment" | translate:"catalogpro" }}</span>
                 <textarea class="feedback-message" ng-model="rating.comment_text"></textarea>
            </label>

            <div class="item item-body item-custom feedback-submit-button remove-border" >
                <button class="button button-block button-positive button-positive-custom" ng-disabled="((rating.comment_text === '' || rating.rating_number === 0 ) ? true : false)" ng-click="saveRating()" >{{ ::"Submit" | translate:"catalogpro" }}</button>
           </div>

        </div>
    </ion-content>
</ion-view>