<ion-view class="module-catalogpro catalogpro catalogpro-product_details catalogpro-home-l1"
          sb-page-background>
    <ion-nav-title>{{product_details.product.product_name}}</ion-nav-title>
    <ion-nav-buttons side="secondary">
        <!-- <button class="button button-clear">
            <i class="icon ion-refresh"></i>
        </button> -->
    </ion-nav-buttons>
    <ion-content>
        <div class="loader" ng-show="is_loading">
         <ion-spinner class="spinner-custom"></ion-spinner>
        </div> 
        <div class="list"  ng-if="!is_loading">
            <div class="item item-custom product-slider remove-border">
                <span ng-click="markAsFavorite(product_details.product.id)"
                      class="icon icon-active-custom pull-right product-favorite">
                    <i class="icon ion-android-favorite{{ product_details.product.is_favorite == 1 ? '' : '-outline'}}"></i>
                </span>

                <ion-slide-box id="products_slider"
                               ng-if="product_details.total_images > 0"
                               auto-play="true"
                               slide-interval="3000"
                               show-pager="true" ,
                               does-continue="true">
                    <ion-slide ng-repeat="image in product_details.gallery" ng-click="showPopup(image.product_image, product_details.product.product_name)">
                        <!-- <img zoom-view zoom-src="{{ catalogproProductImage(image.product_image)}}" class="product-feature-img" ng-src="{{ catalogproProductImage(image.product_image) }}" style="width:100%;"/> -->
                        <img class="product-feature-img" ng-src="{{ catalogproProductImage(image.product_image) }}" style="width:100%;"/>
                    </ion-slide>
                </ion-slide-box>
                <img class="product-feature-img" ng-if="product_details.total_images == 0" ng-src="{{ catalogproProductImage(null) }}" style="width:100%;">
            </div>

          <div class="item item-custom remove-border">

             <h2>{{product_details.product.product_name}}
               
                <span class="product_price pull-right" ng-if="!product_details.product.is_special && !product_details.product.is_price_empty">{{ product_details.product.price }}</span>
                
                <span class="product_price pull-right" ng-if="product_details.product.is_special">{{ product_details.product.special_price }} <del class="icon-danger-custom">{{ product_details.product.price }}</del>
               </span>
               
             </h2>
             <p class="short_description" ng-if="product_details.product.short_description!=''">{{ product_details.product.short_description }}</p>
          </div>

          <div class="item item-divider" ng-if="product_details.product.description!=''">
              <h2>{{ ::"Description" | translate:"catalogpro" }} </h2>
          </div>

          <div class="item item-custom item-body remove-border" ng-if="product_details.product.description!=''">
            <p ng-click="checkInAppLinks($event)" ng-bind-html="product_details.product.description | trusted_html" sb-a-click></p>
          </div>

          <div class="item item-divider">
              <h2>{{ ::"Rating & Reviews" | translate:"catalogpro" }} 
               <button ng-click="addRatingAndReview(product_details.product.id)" class="pull-right button button-small button-positive-custom">{{ ::"Rate Product" | translate:"catalogpro" }}</button>
             </h2>
          </div>

          <div class="item item-custom">
              <h2>{{ ::"Rating" | translate:"catalogpro" }}- {{product_details.avg_rating}}
                  <i class="icon icon-active-custom ion-ios-star"></i>
              </h2>
          </div>

          <div class="item item-custom item-avatar" ng-repeat="comment in product_details.comments" ng-if="product_details.comments.length">
             <img ng-src="{{ customer_avatar(comment.image) }}" >
             <h2>{{comment.firstname}} {{comment.lastname}}</h2>
              <div class="row ion-star-row" ng-if="comment.rating_number!=0">                
                    <div class="ion-star-col" ng-repeat="value in starArray">
                        <i class="icon icon-active-custom ion-ios-star{{value <= comment.rating_number?'':'-outline'}}"></i>
                    </div>                   
              </div>
             <p>{{ comment.comment_text }}</p>
             <p class="text-right">{{convertDate(comment.created_at)}}</p>
             <p class="text-right">
                <button ng-click="report(comment.id)" class="button button-small">{{ ::"Report Comment" | translate:"catalogpro" }}</button>
            </p>
           </div>

          <div class="item item-custom remove-border" ng-if="!product_details.comments.length && !is_loading">
                <p class="text-center"> {{ ::"No Rating yet!" | translate:"catalogpro" }}</p>
          </div>


        </div>
    </ion-content>
</ion-view>