<ion-view sb-page-background
          class="catalogpro catalogpro-products">
    <ion-nav-title>{{payout.category.category_name}}</ion-nav-title>
  
    <ion-content class="has-header" 
                id="catalogpro-content"
                scrollbar-y="false"
                overflow-scroll="false"
                delegate-handle="mainScroll">
      
        <div class="loader" ng-show="is_loading">
         <ion-spinner class="spinner-custom"></ion-spinner>
        </div> 
        <div class="row">
            <div class="col">
                <select
                    class="input-text"
                    style="
                        width: 100%;
                        padding: 5px;
                        font-size: medium;
                        border-radius: 3px;
                        border: 1px solid rgb(169, 169, 169);
                    "
                    ng-model="custom_filter.category_id"
                    ng-change="goToProductByCategory(custom_filter.category_id)"             
                    >
                    <option ng-repeat="category in categories"  value="{{category.id}}">{{category.category_name}}</option>
                    <option value="">
                        {{ ::"All Category" | translate:'catalogpro' }}
                    </option>
                </select>
          </div>
          </div> 
        <ng-include ng-if="!is_loading && settings.product_design == 'list'" src="'./features/catalogpro/assets/templates/l1/include/product_list.html'"></ng-include>

        <ng-include ng-if="!is_loading && settings.product_design == 'grid'" src="'./features/catalogpro/assets/templates/l1/include/product_grid.html'"></ng-include>

    </ion-content>
    
</ion-view>
