<ion-view sb-page-background
            ng-controller="CatalogproProductsSearchController"
          class="catalogpro catalogpro-serach">
    <ion-nav-title>{{ ::"Search" | translate:"catalogpro" }} </ion-nav-title>
  

    <ion-header-bar class="bar-subheader bar-custom bar bar-header">
      <div class="list list-inset home-serach-list">
            <a class="item item-input item-button-right">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search"
                   ng-modal="payout.search_text"
                   id="productSearch"
                   class="search-input"
                   placeholder='{{ ::"Search a products" | translate:"catalogpro" }}'
                   ng-keyup="loadSearchContent()">

            </a>
        </div>
  </ion-header-bar>

    <ion-content class="has-header" 
                id="catalogpro-content"
                scrollbar-y="false"
                overflow-scroll="false"
                delegate-handle="mainScroll">
  
        <div class="loader" ng-show="is_loading">
         <ion-spinner class="spinner-custom"></ion-spinner>
        </div> 
    
        <div ng-if="search_text!=''">
            <ng-include ng-if="!is_loading && settings.product_design == 'list'" src="'./features/catalogpro/assets/templates/l1/include/product_list.html'"></ng-include>

            <ng-include ng-if="!is_loading && settings.product_design == 'grid'" src="'./features/catalogpro/assets/templates/l1/include/product_grid.html'"></ng-include>
        </div>

    </ion-content>
 
</ion-view>
